@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);
* { box-sizing: border-box; }

html { height: 100%; }

body {
  height: 100%;
  font-family: Roboto;
  font-weight: 200;
  background-color: #f5f6f7;
  position: absolute;
  left: 50%;
  width: 400px;
  transform: translateX(-50%);
}
  
  
